html, body {
margin: 0px;
padding: 0px;
}

.head {
height: 100px;
width: auto;
padding: 100px 50px;	
background-color: orange;
text-transform: uppercase;
text-align: center;
color:white;

}

.columna {
	width: 33%;
	padding: 40px ;
	float: left;
	box-sizing: border-box;
	display: table-cell;
}

.columna img {
	width: 100%;
}
